.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

/* --- Header --*/

.header {
  background-color: #0D6EFD;
  opacity: 75%;
  height: 2.65rem;
  border-bottom-left-radius: 0.938rem;
  border-bottom-right-radius: 0.938rem;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-right: 1.25rem;
}

/* --- Maze --- */

.maze-cell {
  width: 1.875rem;
  height: 1.875rem;
  border: solid 0.100rem;
  border-color: rgb(175, 171, 171);
}

.start {
  background-color: rgb(255, 33, 33);
}

.end {
  background-color: rgb(38, 240, 55);
}

.empty {
  background-color: white;
}

.wall {
  background-color: rgba(12, 0, 0, 0.89);
}

.path {
  background-color: aqua;
}

/* --- Chess Board --- */

.chessCell,
.chessCellFirstRow {
  width: 3.65rem !important;
  height: 3.65rem !important;
  font-size: 3rem;
  text-align: center;
}

.whiteCell {
  background-color: white;
}

.blackCell {
  background-color: rgb(32, 9, 9);
}

.redQueen {
  color: red;
}

.chessBorder {
  border-width: 0.750rem;
  border-style: solid;
  border-color: rgb(56, 15, 15);
}

.chessCellFirstRow:hover {
  background-color: #0D6EFD;
  cursor: pointer;
}

/* --- Hanoi Tower --- */

.pegsFundament {
  height: 3.5rem;
  background-color: grey;
  border: solid;
  border-color: darkgrey;
  border-radius: 10px;
}

.pegsContainer {
  height: 20rem;
}

.peg {
  height: 20rem;
  width: 2.5rem;
  background-color: grey;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: darkgray;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.disk {
  height: 2.5rem;
  border-radius: 0.625rem;
  border: solid;
}

.extraLargeDisk {
  border-color: rgb(46, 25, 233);
  background-color: rgb(7, 5, 136);
  width: 23rem;
}

.largeDisk {
  border-color: rgb(98, 9, 180);
  background-color: rgb(66, 5, 122);
  width: 20rem;
}

.mediumDisk {
  border-color: rgb(0, 255, 76);
  background-color: rgb(24, 236, 34);
  width: 17rem;
}

.smallDisk {
  border-color: rgb(223, 247, 7);
  background-color: rgb(250, 246, 12);
  width: 14rem;
}

.extraSmallDisk {
  border-color: rgb(247, 145, 51);
  background-color: rgb(247, 128, 16);
  width: 11rem;
}

.megaSmallDisk {
  border-color: rgb(243, 78, 180);
  background-color: rgb(243, 33, 162);
  width: 8.5rem;
}

/* --- Sorting ---*/

.card {
  width: 6.725rem !important;
  height: 10.325rem !important;
  border: solid 0.125rem;
  border-radius: 0.75rem;
  border-color: gray;
  box-shadow: 0.25rem 0.5rem darkgrey;
  padding: 0.2rem;
}

.card-label {
  width: 8rem !important;
  height: 3.7rem !important;
  font-size: larger;
  color: #0D6EFD;
}

.cards-info {
  height: 2.25rem;
}

.grayOutCard {
  background-color: rgba(169, 169, 169, 0.400) !important;
}

.selectedCard {
  border-color: #0D6EFD !important;
}

.cardSymbol {
  font-size: 1.475rem;
  color: red;
}

.cardValue {
  font-size: 1.475rem;
  color: red;
  margin-right: 0.145rem;
  margin-left: 0.145rem;
}

.verticalFlip {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.arrow-left {
  transform: rotate(90deg);
  align-self: center;
  cursor: pointer;
}

.arrow-right {
  transform: rotate(270deg);
  align-self: center;
  cursor: pointer;
}

.arrow-left span,
.arrow-right span {
  display: block;
  width: 1vw;
  height: 1vw;
  border-bottom: 5px solid #0D6EFD;
  border-right: 5px solid #0D6EFD;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow-left span:nth-child(2),
.arrow-right span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-left span:nth-child(3),
.arrow-right span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}