.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.row {
 display: flex;
 flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maze-cell {
  width: 1.875rem;
  height: 1.875rem;
  border: solid 0.100rem;
  border-color: rgb(175, 171, 171);
}

.start {
  background-color: rgb(255, 33, 33);
}

.end {
  background-color: rgb(38, 240, 55);
}

.empty {
  background-color: white;
}

.wall {
  background-color: rgba(12, 0, 0, 0.89);
}

.path {
  background-color: aqua;
}

.primaryButton {
  background-color: white;
  color: black;
  border: 2px solid #0D6EFD;
  border-radius: 10%;
}

.btnRow {
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.chessCell {
  width: 3.65rem;
  height: 3.65rem;
  font-size: 3rem;
  text-align: center;
}

.whiteCell {
  background-color: white;
}

.blackCell {
  background-color: rgb(32, 9, 9);
}

.chessBorder {
  border-width: 0.750rem;
  border-style: solid;
  border-color: rgb(56, 15, 15);
}